# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ContosoUniversity/bin/
ContosoUniversity/obj/Debug/
ContosoUniversity/obj/
packages/WebGrease.1.5.2/lib/
packages/
ContosoUniversity.v12.suo
ContosoUniversity/ContosoUniversity.csproj.user
ContosoUniversity.v12.suo
ContosoUniversity.v12.suo
ContosoUniversity/bin/
